---
import App from '../components/App.jsx';
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="google-site-verification" content="KsEWsYVJRN3ASzvk2KdlCl4_0XWh1Xgu3SiLr8rbLuo" />
		<title>Data Bucket UI</title>
	</head>
	<body>
		<App client:load />
	</body>
</html>
